body{
    margin: 0;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background-color: rgb(29, 161, 242);
    border-radius: 20px
}

#root{
    background-color: black;
    position: relative;
}

.card{
    background-color: rgb(64, 62, 62);
    max-width: 50%;
    height: auto;
    margin: 10px auto;
    border-radius: 15px;
    padding: 25px;
    position: relative;
    opacity: 1;
    transition: all 0.5s;
    overflow: hidden;
}

[data-id]{
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

[data-id]:hover{
    fill: red;
}

.userInfo{
    display: flex;
    justify-content: space-evenly;
}

.userInfo__name{
    font-weight: 900;
}

.userInfo__email a{
    text-decoration: none;
    color: rgb(29, 161, 242)
}

.userPost__title{
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
}

.userPost__body{
    margin: 0;
}

.btn-primary{
    background-color: rgb(29, 161, 242);
}

.modal-wrapper{
    display: flex;
    justify-content: center;
    color: black;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

.btn{
}


