@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 40px;
}
.menu li a {
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    color: white;
    font-size: 14pt;
    transition: 0.5s ease;
}
.ra {
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.mda {
    color: rgb(118, 218, 248);
}
.container {
    width: 100%;
    height: 76px;
    background-color: #35444F;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
}
.element-1 {
    border-left: 2px solid white;
    border-right: 2px solid white;
    height: 76px;
    padding-top: 50px;
}
.element-2 {
    border-right: 2px solid white;
    height: 76px;
    padding-top: 50px;
}
.element-3 {
    border-right: 2px solid white;
    height: 76px;
    padding-top: 50px;
}
.element-4 {
    border-right: 2px solid white;
    height: 76px;
    padding-top: 50px;
}
.menu li a:hover {
    background-color: #222F3A;
    padding-top: 23px;
    padding-bottom: 29px;
    transition: 0.5s ease;
}
.content {
    display: flex;
    padding-top: 48px;
}
.menu-table {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    list-style: none;
}
.menu-table li a {
    text-decoration: none;
    font-size: 23pt;
    color: #485863;
}
.element-5{
    height: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.element-6{
    height: 50px; 
    padding-top: 20px;
    padding-bottom: 10px;
}
.element-7{
    height: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.element-8{
    height: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.element-9{
    height: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.menu-table li a:hover {
    background-color: #DBDBDB;
    color: black;
    padding-top: 15px;
    padding-bottom: 23px;
}
.main {
    display: flex;
}
.section {
    padding-left: 52px;
    padding-top: 16px;
}
.content-photo {
    padding-top: 75px;
    padding-bottom: 75px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-text1 {
    padding-top: 30px;
    height: 120px;
    font-size: 18px;
}
.content-text2 {
    height: 120px;
    font-size: 18px;
}
.menu-footer li a {
    text-decoration: none;
    font-size: 23pt;
    color: black;
}
.menu-footer {
    display: flex;
    font-size: 18pt;
    list-style: none;
    color: #485863;
}
.footer-block {
    width: 100%;
    height: 76px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.element-10 {
    padding-left: 25px;
}
.element-11 {
    padding-left: 25px;
}
.element-12 {
    padding-left: 25px;
}
.element-13 {
    padding-left: 25px;
}
.element-14 {
    padding-left: 25px; 
}
.element-15 {
    padding-left: 35px; 
    color: black;
}
.menu-footer li a:hover {
    color: rgb(76, 76, 196);
    text-decoration: underline;
}