.photo {

    width: 100%;
    height: 100%;
    left: 0px;
    top: 78px;
    
    }
body{
        padding: 0;
        margin: 0;
    }
ul{
        list-style: none;
        display: flex;
    }
a {
    color: #FF0000;
    text-decoration: none; 
}
.li__1 {
    padding-left: 300px;
    padding-top: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    }
.li__2 {
    padding: 105px;
    padding-top: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    }
.li__3 {
    padding-right: 100px;
    padding-top: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    }
.li__4 {
    font-family: Montserrat;
    padding-top: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    }
.main-title {
        text-align: center;
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #373737;
    }
.content {
        text-align: center;
    padding-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    }
.button {
        width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    margin-left: 45%;
    margin-top: 30px;
    background: #FF0000;
    border: 0px;
    }
.button-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    }
.footer-text {
        padding: 105px;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    }
    